:root {
    --body-color: #fff;
    --basic-font: 16px, sans-serif;
    --accent-color: rgb(102, 131, 51);
}

* {
    box-sizing: border-box;
}

html, body {
    font: var(--basic-font);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    background: var(--body-color);
}

.maincontent {
    flex: 1 0;
}


ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

.flex-container {
    display: flex;
    max-width: 1000px;
}

/**
*
* Global settings
*
*/

.header-container {
    @include container(var(--header-container));
}

.partners-section-container {
    @include container(1365px);
}

.benefits-section-container {
    @include container(1500px);
}

.section-tagline {
    font-family: $fontPoppins;
    font-weight: 600;
    line-height: 1.2em;
    color: #1E2A39;
    @include fontSize(82);
}

.section-title {
    font-family: $fontPoppins;
    font-weight: 600;
    line-height: 1.8em;
    color: #000000;
    @include fontSize(44);
} 

.section-description {
    font-family: $fontNunito;
    font-weight: 400;
    color: #464646;
    @include fontSize(24);
}


