.header {
    position: absolute;
    left: 100px;
    z-index: 10;

    &-container {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
    }
}

.header__menu {
    display: flex;
    align-items: center;

    .logo-link {
        position: relative;
        width: 141px;
        height: 83px;
        margin-right: 570px;
    }

    .logo-bg {
        position: absolute;
        top: 10px;
        left: 11px;
        width: 60px;
        height: 60px;
        background: #F28095;
        border-radius: 6px;
        transform: rotate(45deg);
    }

    .logo-title {
        position: absolute;
        top: 13px;
        left: 22px;
        font-family: $fontPoppins;
        font-weight: 700;
        @include fontSize(32);
        line-height: 48px;
        letter-spacing: 0.04em;
        color: #1E2A39;
    }

    .logo-title-accent {
        color: #FFFFFF;
    }

    .nav {
        &__list {
            display: flex;
        }

        &__item {
            margin-right: 80px;
        }

        &__link {
            font-family: $fontPoppins;
            font-weight: 400;
            word-wrap: nowrap;
            color: #252641;
            @include fontSize(22);
        }
    }
}