.main-section {
    position: relative;
    height: 1118px;

    &__tagline--wrapper {
        position: relative;
        z-index: 99;
        text-align: left;
    }

    &__tagline {
        position: absolute;
        top: 300px;
        left: 140px;
        width: 865px;
        line-height: 98px;
        color: #1E2A39;

        &-accent {
            position: absolute;
            top: 390px;
            left: 345px;
        }
    }

    &__description {
        position: absolute;
        top: 530px;
        left: 140px;
        width: 520px;
        line-height: 160%;
    }

    &__actions {
        position: absolute;
        top: 655px;
        left: 140px;
        display: flex;
        align-items: center;
    }

    &__play {
        &--wrapper {
            width: 80px;
            height: 80px;
            background:#FFFFFF;
            box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
            @include center;
            border-radius: 50%;
            margin-right: 30px;
            transition: background .3s ease-in-out;

            &:hover {
                background: $colorPrimary;
                cursor: pointer;

                .main-section__play-btn {
                    color: #FFFFFF;
                }                
            }
        }

        &-btn {
            color: #000000;
            transition: color .3s ease-in-out;
            @include fontSize(33);
        }

        &-description {
            font-family: $fontPoppins;
            font-weight: 400;
            @include fontSize(24);
            color: #252641;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 9;

        &-checkbox-icon {
            position: absolute;
            top: 625px;
            left: 1760px;
            z-index: 10;
        }
    }
}