.news-section {
    margin: 100px 0 160px 0;

    .news-section-container {
        height: 930px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__title {
        margin: 0 auto;
        font-family: $fontNunito;
        font-weight: 700;
        @include fontSize(44);
        @include remLh(79);
        color: $colorTitleSecondary;
    }

    &__description {
        width: 100%;
        margin-bottom: 100px;
        font-family: $fontNunito;
        font-weight: 40;
        @include fontSize(24);
        @include remLh(43);
        color: $colorDescrSecondary;
        text-align: center;
    }

    &__info-news-headline--wrapper {
        width: 640px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__img-news-headline {
        width: 640px;
        height: 340px;
    }

    &__label-news-headline {
        width: 130px;
        height: 40px;
        border-radius: 80px;
        background-color: #DC5E74;
        font-family: $fontPoppins;
        font-weight: 500;
        @include fontSize(20);
        @include remLh(36);
        letter-spacing: 0.02em;
        color: $colorSecondary;
        text-align: center;
    }

    .news-section__title-news-headline {
        width: 610px;
        @include fontSize(26);
        @include remLh(47);
    }

    .news-section__description-news-headline {
        width: 610px;
    }

    &__description-news {
        width: 450px;
        font-family: $fontPoppins;
        font-weight: 400;
        @include fontSize(20);
        @include remLh(36);
        letter-spacing: 0.02em;
        color: $colorDescrSecondary;
    }

    &__link-news {
        font-family: $fontPoppins;
        font-weight: 400;
        @include fontSize(20);
        @include remLh(36);
        letter-spacing: 0.02em;
        color: #444444;
        text-decoration: underline;
    }

    &__info-set-news--wrapper {
        width: 800px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__info-news--wrapper {
        position: relative;
        width: 800px;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        box-sizing: border-box;
    }

    &__img-news {
        width: 280px;
        height: 200px;
    }

    &__label-news {
        position: absolute;
        bottom: 20px;
        right: 540px;
        height: 35px;
        padding: 5px 20px;
        background-color: #DC5E74;
        border-radius: 80px;
        font-family: $fontPoppins;
        font-weight: 400;
        @include fontSize(18);
        @include remLh(27);
        letter-spacing: 0.02em;
        color: $colorSecondary;
    }

    &__title-news {
        width: 480px;
        margin-bottom: 20px;
        font-family: $fontPoppins;
        font-weight: 500;
        @include fontSize(22);
        @include remLh(40);
        color: #252641;
    }
}