@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("./normalize.css");
:root {
  --large-container: 1920px;
  --header-container: 1700px;
}

@custom-media --small (width >= 601px);
@custom-media --medium (width >= 768px);
@custom-media --medlg (width >= 1081px);
@custom-media --large (width >= 1200px);
@custom-media --exlarge (width >= 1444px);
.btn {
  width: 160px;
  height: 60px;
  border-radius: 80px;
  font-family: "Poppins";
  font-size: 1.375rem;
  line-height: 1.5rem;
  -webkit-transition: background .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn:hover, .btn:active {
  cursor: pointer;
}

.btn-primary {
  background: #FFFFFF;
  color: #6C6C6C;
  font-weight: 500;
  border: none;
  margin-right: 34px;
}

.btn-primary:hover, .btn-primary:active {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.btn-secondary {
  background: #000000;
  color: #FFFFFF;
  border: none;
}

.btn-secondary:hover, .btn-secondary:active {
  background: #FFFFFF;
  color: #6C6C6C;
}

.btn-connector {
  width: 220px;
  height: 80px;
  background: #EA5972;
  color: #FFFFFF;
  font-weight: 600;
  border: none;
  margin-right: 40px;
}

.btn-connector:hover, .btn-connector:active {
  background-color: rgba(234, 89, 114, 0.7);
}

:root {
  --body-color: #fff;
  --basic-font: 16px, sans-serif;
  --accent-color: rgb(102, 131, 51);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font: var(--basic-font);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: var(--body-color);
}

.maincontent {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
}

/**
*
* Global settings
*
*/
.header-container {
  width: var(--header-container);
  margin: 0 auto;
  padding: 0 15px;
}

@media (--large) {
  .header-container {
    width: 1024px;
  }
}

@media (--medium) {
  .header-container {
    width: 771px;
  }
}

@media (--small) {
  .header-container {
    width: 100%;
  }
}

.partners-section-container {
  width: 1365px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (--large) {
  .partners-section-container {
    width: 1024px;
  }
}

@media (--medium) {
  .partners-section-container {
    width: 771px;
  }
}

@media (--small) {
  .partners-section-container {
    width: 100%;
  }
}

.benefits-section-container {
  width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (--large) {
  .benefits-section-container {
    width: 1024px;
  }
}

@media (--medium) {
  .benefits-section-container {
    width: 771px;
  }
}

@media (--small) {
  .benefits-section-container {
    width: 100%;
  }
}

.section-tagline {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.2em;
  color: #1E2A39;
  font-size: 5.125rem;
  line-height: 5.25rem;
}

.section-title {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.8em;
  color: #000000;
  font-size: 2.75rem;
  line-height: 2.875rem;
}

.section-description {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #464646;
  font-size: 1.5rem;
  line-height: 1.625rem;
}

/*
    Components
*/
.header {
  position: absolute;
  left: 100px;
  z-index: 10;
}

.header-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .logo-link {
  position: relative;
  width: 141px;
  height: 83px;
  margin-right: 570px;
}

.header__menu .logo-bg {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 60px;
  height: 60px;
  background: #F28095;
  border-radius: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu .logo-title {
  position: absolute;
  top: 13px;
  left: 22px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.125rem;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #1E2A39;
}

.header__menu .logo-title-accent {
  color: #FFFFFF;
}

.header__menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu .nav__item {
  margin-right: 80px;
}

.header__menu .nav__link {
  font-family: "Poppins";
  font-weight: 400;
  word-wrap: nowrap;
  color: #252641;
  font-size: 1.375rem;
  line-height: 1.5rem;
}

/*
    Layout
*/
.main-section {
  position: relative;
  height: 1118px;
}

.main-section__tagline--wrapper {
  position: relative;
  z-index: 99;
  text-align: left;
}

.main-section__tagline {
  position: absolute;
  top: 300px;
  left: 140px;
  width: 865px;
  line-height: 98px;
  color: #1E2A39;
}

.main-section__tagline-accent {
  position: absolute;
  top: 390px;
  left: 345px;
}

.main-section__description {
  position: absolute;
  top: 530px;
  left: 140px;
  width: 520px;
  line-height: 160%;
}

.main-section__actions {
  position: absolute;
  top: 655px;
  left: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__play--wrapper {
  width: 80px;
  height: 80px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
          box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.main-section__play--wrapper:hover {
  background: #6C6C6C;
  cursor: pointer;
}

.main-section__play--wrapper:hover .main-section__play-btn {
  color: #FFFFFF;
}

.main-section__play-btn {
  color: #000000;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  font-size: 2.0625rem;
  line-height: 2.1875rem;
}

.main-section__play-description {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #252641;
}

.main-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9;
}

.main-section__bg-checkbox-icon {
  position: absolute;
  top: 625px;
  left: 1760px;
  z-index: 10;
}

.partners-section {
  text-align: center;
}

.partners-section .partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-section-description {
  font-family: "Public", sans-serif;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.03em;
  margin: 100px 0 50px 0;
  font-size: 2.1875rem;
  line-height: 2.3125rem;
  color: #424246;
}

.benefits-section {
  position: relative;
  margin: 155px 0;
}

.benefits-section-container {
  position: relative;
  z-index: 99;
  height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-section__description {
  width: 840px;
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.625rem;
  line-height: 2.6875rem;
  color: #696984;
  font-family: "Poppins";
  font-weight: 400;
}

.benefits-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 160px;
}

.benefits-section__item {
  position: relative;
  margin-right: 60px;
  width: 450px;
  text-align: center;
}

.benefits-section__item:last-child {
  margin-right: 0;
}

.benefits-section__item-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.benefits-section__item-content--wrapper {
  position: relative;
  width: 100%;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
          box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
  z-index: 9;
}

.benefits-section__item-title {
  margin-top: 120px;
  width: 340px;
  font-size: 1.875rem;
  line-height: 2rem;
  line-height: 45px;
  color: #000000;
  font-family: "Poppins";
  font-weight: 500;
}

.benefits-section__item-description {
  margin-top: 25px;
  width: 340px;
  font-size: 1.25rem;
  line-height: 1.375rem;
  line-height: 2.25rem;
  color: #696984;
  font-family: "Poppins";
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */