.about-elearn-section {
    margin-top: 160px;

    .about-elearn-section-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 185px;
    }

    &__title {
        margin: 0 auto;
    }

    &__description {
        width: 1100px;
        text-align: center;
        margin: 20px auto 80px auto;
        letter-spacing: 0.02em;
    }

    &__img--wrapper {
        width: 600px;
        height: 400px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .section__img--wrapper-instructors {
        background-image: url(/assets/images/about-elearn/for-instructors.jpg);
    }

    &__img-title {
        font-family: $fontPoppins;
        font-weight: 600;
        @include fontSize(32);
        @include remLh(48);
        color: #FFFFFF;
    }

    &__img-bg {
        position: absolute;
        left: 345px;
        bottom: 210px;
        z-index: 9;
    }

    .section__img--wrapper-students {
        background-image: url(/assets/images/about-elearn/for-students.jpg);
    }

    .about-elearn-section-video-container {
        height: 515px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;

        .large-circle {
            position: absolute;
            width: 73px;
            height: 73px;
            top: 50px;
            background: #6CBEB9;
            border-radius: 50%;
            z-index: 9;
        }

        .small-circle {
            position: absolute;
            width: 30px;
            height: 30px;
            left: 730px;
            bottom: 200px;
            background: #EA5972;
            border-radius: 50%;
            z-index: 9;
        }

        .large-square {
            position: absolute;
            width: 231px;
            height: 231px;
            bottom: 0;
            right: 15px;
            background: #E97186;
            border-radius: 20px;
            z-index: 9;
        }

        .small-square {
            position: absolute;
            width: 138px;
            height: 138px;
            right: 625px;
            background: #6CBEB9;
            border-radius: 20px;
            z-index: 9;
        }
    }

    &-video__title {
        width: 655px;
        margin: 65px 0 0 25px;
        font-family: $fontPoppins;
        font-weight: 500;
        @include fontSize(36);
        @include remLh(58);
        color: #000000;
        z-index: 10;
    }

    &-video__description {
        width: 730px;
        margin: 30px 0 0 25px;
        letter-spacing: 0.02em;
        z-index: 10;
    }

    &-video__link {
        margin: 30px 0 0 25px;
        font-family: $fontPoppins;
        font-weight: 400;
        @include fontSize(22);
        @include remLh(40);
        color: #272727;
        text-decoration: underline;
    }

    &-video__img--wrapper {
        position: relative;
        width: 705px;
        height: 475px;
        margin: 20px 20px 20px 0;
        border-radius: 20px;
        background-image: url(/assets/images/about-elearn/confident-teacher-explaining-lesson-pupils.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 10;
    }

    &__play {
        &--wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70px;
            height: 70px;
        }

        &-btn {
            @include fontSize(29);
        }
    }
}