.main-section {

    .main-section-container {
        height: 975px;
        z-index: 12;
    }
    
    &__tagline--wrapper {
        position: relative;
        height: 435px;
        z-index: 12;
        margin-left: 140px;
        padding-top: 160px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    &__tagline {
        width: 865px;
        line-height: 98px;
        color: #1E2A39;

        &-accent {
            position: absolute;
            top: 245px;
            left: 210px;
        }
    }

    &__tagline-description {
        width: 520px;
        margin-top: 30px;
    }

    &__actions {
        margin-top: 50px;
        display: flex;
        align-items: center;
    }

    &__play {
        &--wrapper {
            width: 80px;
            height: 80px;
            margin-right: 30px;
        }

        &-btn {
            @include fontSize(33);
        }

        &-description {
            font-family: $fontPoppins;
            font-weight: 400;
            @include fontSize(24);
            color: #252641;
        }
    }

    &-player--wrapper {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    
    &-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }
}