.testimonial-section {
    margin-top: 170px;

    .testimonial-section-container {
        height: 820px;
        display: flex;
        justify-content: space-between;
    }

    &__title--wrapper {
        width: 600px;
        height: 575px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__title {
        font-family: $fontNunito;
        font-weight: 700;
        @include fontSize(60);
        @include remLh(82);
        color: $colorTitleSecondary;
    }

    &__description {
        font-family: $fontPoppins;
        font-weight: 400;
        @include fontSize(26);
        @include remLh(42);
        color: $colorDescrSecondary;
    }

    &__slider--wrapper {
        position: relative;
        width: 800px;
        height: 890px;

        .slick-btn {
            position: absolute;
            top: 280px;
            left: 590px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: none;
            background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(41, 44, 124, 0.15);
        }
    }

    &__slider-img {
        transform: translateX(50px);
    }

    &__btn-write {
        position: relative;
        width: 405px;
        color: #EC72A1;
        border: 1px solid #EF8DB3;
        text-align: left;
        padding-left: 40px;

        &:after {
            content: '\f178';
            font: var(--fa-font-solid);
            position: absolute;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 80px;
            border: 1px solid #EF8DB3;
            top: -1px;
            right: -1px;
            height: 78px;
            width: 80px;
        }

        &:hover, &:active {
            background-color: rgba($colorAction, .7);
            color: rgba($colorSecondary, .7);
        }
    }
}