.testimonial-section {
    margin-top: 170px;

    .testimonial-section-container {
        height: 820px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title--wrapper {
        width: 600px;
        height: 655px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__title {
        font-family: $fontNunito;
        font-weight: 700;
        @include fontSize(60);
        @include remLh(82);
        color: $colorTitleSecondary;
    }

    &__description {
        font-family: $fontPoppins;
        font-weight: 400;
        @include fontSize(26);
        @include remLh(42);
        color: $colorDescrSecondary;
    }

    &__slider--wrapper {
        position: relative;
        width: 775px;
        height: 820px;
    }

    &__slider-img {
        width: 560px;
        height: 700px;
    }

    &__slider-assessment--wrapper {
        position: absolute;
        bottom: 0;
        left: 70px;
        width: 680px;
        height: 330px;
        box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
        border-radius: 20px;
        background-image: url(/assets/images/testimonial/assessment.jpg);
        background-position: 49% 46%;
    }

    &__btn-write {
        position: relative;
        width: 405px;
        color: #EC72A1;
        border: 1px solid #EF8DB3;
        text-align: left;
        padding-left: 40px;

        &:after {
            content: '\f178';
            font: var(--fa-font-solid);
            position: absolute;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 80px;
            border: 1px solid #EF8DB3;
            top: -1px;
            right: -1px;
            height: 78px;
            width: 80px;
        }

        &:hover, &:active {
            background-color: rgba($colorAction, .7);
            color: rgba($colorSecondary, .7);
        }
    }
}