.header {
    &-container {
        position: relative;
        display: flex;
        align-items: center;
        padding: 30px 0;
    }

    &__img-bg {
        position: absolute;
        top: 0;
        z-index: 9;
    }
}

.header__menu {
    width: 1360px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .logo-bg {
        background: #F28095;
        border: none;
    }

    .logo-title {
        color: #1E2A39;
    }

    .logo-title-accent {
        color: #FFFFFF;
    }

    .nav {
        &__list {
            width: 650px;
            display: flex;
        }

        &__item {
            margin-right: 80px;
        }

        &__link {
            font-family: $fontPoppins;
            font-weight: 400;
            word-wrap: nowrap;
            color: #252641;
            @include fontSize(22);

            &:hover, &:active {
                text-shadow: 1px 1px 2px black;
            }
        }
    }
}