$fontPoppins: 'Poppins';
$fontNunito: 'Nunito', sans-serif;
$fontPublic: 'Public', sans-serif;

$bgPrimary: #FFFFFF;
$colorPrimary: #6C6C6C;

$bgSecondary: #000000;
$colorSecondary: #FFFFFF;
$colorTitleSecondary: #000000;
$colorDescrSecondary: #696984;

$bgConnector: #EA5972;
$colorConnector: #FFFFFF;

$bgSubscriptor: #FC7E94;
$colorSubscriptor: #FFFFFF;

$colorAction: #EA5E94;